/* For text-based logo, override default link styling.
 * If .logo and .nav don't align properly,
 * adjust the .logo line-height. */

.nav-wrap-navbar {
	background-color: $color-primary;
	padding-top: calc-em(4px);
	padding-bottom: calc-em(4px);
}

a.logo-navbar {
	display: inline-block;
	float: left;
	font-weight: bold;
	// font-size: 1.2em;
	// line-height: 1.2;
	color: $color-white;
	// color: darken($color-primary, 45%);
	// color: $color-black;
	// margin-bottom: calc-em(8px);
	text-decoration: none;
}

/* For text-based logo, override default link hover styling */
.logo-navbar:hover {
	color: $color-gray-light;
	// color: $color-black;
	text-decoration: none;
}

/* Remove default list styling for navigation list */
.nav-navbar {
	list-style: none;
	text-align: right;
	margin: 0 calc-em(-8px);
	padding: 0;
}

/* Display navigation items as inline-block elements.
 * Add slight margin between each navigation item. */
.nav-navbar > li {
	display: inline-block;
	float: none;
	margin-left: calc-em(8px);
	margin-right: calc-em(8px);
}

// /* Remove margin-left on first navigation item */
// .nav-navbar > li:first-child {
// 	margin-left: 0;
// }

// /* Remove margin-right on last navigation item */
// .nav-navbar > li:last-child {
// 	margin-right: 0;
// }

/* Link styling */
.nav-navbar > li > a {
	color: $color-white;
	// color: darken($color-primary, 50%);
}

.nav-navbar > li > a:hover {
	color: $color-gray-light;
	// color: $color-black;
	border-bottom: calc-em(3px) solid darken( $color-primary, 15% );
	text-decoration: none;
}

/* Active link styling */
.nav-navbar > li.active > a {
	border-bottom: calc-em(3px) solid darken( $color-primary, 15% );
}

/* Hide the navigation toggle menu button by default.
 * Only needed for expand-and-collapse option. */
.nav-toggle-navbar {
	display: none;
	visibility: hidden;
}


/* Clearfix */
.nav-wrap-navbar:before,
.nav-wrap-navbar:after {
	display: table;
	content: "";
}

.nav-wrap-navbar:after {
	clear: both;
}

/**
 * Secondary navigation
 */
.nav-secondary {
	background-color: $color-gray-light;
	// background-color: $color-secondary;
	padding-top: calc-em(4px);
	padding-bottom: calc-em(4px);
}

// .nav-secondary a {
// 	// color: $color-white;
// 	color: darken($color-primary, 30%);
// }

// .nav-secondary a:hover {
// 	color: $color-gray-light;
// }

@media (max-width: $bp-large) {

	.svg .nav-wrap-navbar {
		padding-top: calc-em(8px);
		padding-bottom: calc-em(8px);
	}

	.svg .nav-wrap-navbar .icon {
		height: 1.5em;
		width: 1.5em;
	}

	.svg .nav-navbar {
		margin-left: calc-em(-16px);
		margin-right: calc-em(-16px);
	}

	.svg .nav-navbar > li {
		margin-left: calc-em(16px);
		margin-right: calc-em(16px);
	}

	.nav-secondary {
		background-color: $color-gray-light;
		padding-top: calc-em(8px);
		padding-bottom: calc-em(8px);
	}

}